beautifulsoup4==4.13.4
Flask==3.1.0
Flask_Bcrypt==1.0.1
Flask_Caching==2.3.1
flask_cors==5.0.1
Flask_Login==0.6.3
flask_sqlalchemy==3.1.1
groq==0.28.0
langchain_community==0.3.23
python-dotenv==1.1.0
Requests==2.32.4
soundfile==0.13.1
textblob==0.19.0
zenrows==1.4.0
gunicorn
lxml
setuptools